.about {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 100px;
    margin-bottom: 150px;

    &-title {
        font-weight: 700;
        font-size: 48px;
        color: var(--color-3);

        &-span {
            color: var(--color-4);
        }
    }

    &-text {
        width: 389px;
        font-weight: 400;
        font-size: 18px;
        color: rgba(238, 238, 238, 0.75);
        padding-top: 30px;
    }

    &-button {
        background: transparent;
        border: none;
        font-weight: 700;
        color: var(--color-3);
        font-size: 18px;
    }

    &-back__img {
        width: 665px;
        height: 499px;
        background: url("../../images/About-back-img.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &-img {
        padding: 230px 0 0 130px;
    }
}