.projects {
    margin-top: 80px;
    margin-bottom: 81px;

    &-header {

        &-top {

            &-h1 {
                color: #FFF;
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                &-span {
                    color: var(--primary, #C778DD);
                }
            }

            &-p {
                color: #FFF;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        &-bottom {
            padding-top: 68px;
            padding-bottom: 48px;

            &-h1 {
                color: var(--white, #FFF);
                font-size: 35px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                &-span {
                    color: var(--primary, #C778DD);
                }
            }
        }
    }

    &-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        &-card {
            max-width: 340.5px;
            margin: auto;
            border: 1px solid var(--gray, #ABB2BF);

            &-images {
                overflow: hidden;

                &-img {
                    width: 339.5px;
                    height: 200px;
                    object-fit: cover;
                    transition: all .3s linear;
                }

                &-img:hover {
                    transform: scale(1.2);
                    transition: all .3s linear;
                }
            }

            &-h3 {
                color: var(--gray, #ABB2BF);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                padding: 8px;
                align-items: flex-start;
                align-self: stretch;
                border-bottom: 1px solid rgba(171, 178, 191, 1);
            }

            &-bottom {
                padding: 16px;

                &-h1 {
                    color: var(--white, #FFF);
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    padding-bottom: 16px;
                }

                &-p {
                    color: var(--gray, #ABB2BF);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                &-buttons {
                    display: flex;
                    gap: 16px;
                    padding-top: 16px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1383px) {
    .projects-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 765px) {
    .projects-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 400px) {
    .projects-cards-card {
        max-width: 271px;
    }

    .projects-cards-card-images-img {
        max-width: 270px;
        height: 190px;
    }

    .projects-cards-card-bottom-buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}