.buttonDemo {

    &-a {

        &-button {
            display: inline-flex;
            padding: 8px 16px;
            align-items: flex-start;
            gap: 10px;
            color: var(--gray, #ABB2BF);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            border: 1px solid var(--gray, #ABB2BF);
            background: transparent;
            cursor: pointer;
            transition: 0.2s;
        }

        &-button:hover {
            background: rgba(171, 178, 191, 0.20);
            transition: 0.2s;
        }
    }
}