.homeHeader {

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 65px;

        &-left {

            &-h1 {
                color: var(--white, #FFF);
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                &-span {
                    color: var(--primary, #C778DD);
                }
            }

            &-p {
                color: var(--gray, #ABB2BF);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px;
                padding-top: 32px;
                padding-bottom: 25px;
            }
        }

        &-right {

            &-backImg {
                width: 155px;
                height: 155px;
                background-image: url("../../images/BackroundLine.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                margin-top: 80px;
            }

            &-img {
                width: 457px;
                height: 100%;
                object-fit: cover;
                position: relative;
            }

            &-div {
                display: flex;
                gap: 10px;
                width: 402px;
                padding: 8px;
                align-items: center;
                border: 1px solid var(--gray, #ABB2BF);
                margin-left: 20px;
                margin-top: -5px;

                &-color {
                    width: 16px;
                    height: 16px;
                    border: 1px solid var(--primary, #C778DD);
                    background: var(--primary, #C778DD);
                }

                &-p {
                    color: var(--gray, #ABB2BF);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;

                    &-span {
                        color: var(--white, #FFF);
                        font-weight: 600;
                    }
                }
            }

            &-round {
                width: 84px;
                height: 84px;
                background-image: url("../../images/Dots.png");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                margin-top: -180px;
                margin-left: 360px;
            }
        }
    }
}

@media only screen and (max-width: 1202px) {
    .homeHeader-top {
        display: block;
        padding-top: 65px;
    }

    a {
        display: none;
    }
}

@media only screen and (max-width: 390px) {

    .homeHeader-top-right-img {
        width: 200px;
        height: 250px;
        margin: 0 50px auto;
    }

    .homeHeader-top-right-div {
        width: 310px;
        margin: auto;
    }

    .homeHeader-top-right-round {
        margin-left: 0px;
    }
}