.HomeSkills {
    margin-top: 110px;

    &-bottom {
        display: flex;
        justify-content: space-between;
        gap: 280px;
        padding-top: 40px;

        &-left {

            &-topDiv {
                display: flex;
                gap: 160px;

                &-img1 {
                    width: 113px;
                    height: 113px;
                    background-image: url("../../images/Dots.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    margin-top: 50px;
                    margin-left: 25px;
                }

                &-img2 {
                    width: 86px;
                    height: 86px;
                    border: 1px solid var(--gray, #ABB2BF);
                    margin-top: 20px;
                }
            }

            &-bottomDiv {
                display: flex;
                gap: 50px;
                margin-top: 32px;
                margin-left: 50px;

                &-img1 {
                    width: 113px;
                    height: 113px;
                    margin-top: 50px;
                }

                &-img2 {
                    width: 63px;
                    height: 63px;
                    background-image: url("../../images/Dots.png");
                    background-position: center;
                    background-repeat: repeat;
                    background-size: cover;
                    margin-top: 20px;
                }

                &-img3 {
                    width: 52px;
                    height: 52px;
                    border: 1px solid var(--gray, #ABB2BF);
                    margin-top: 80px;
                }
            }
        }

        &-right {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            text-align: left;
            align-items: start;
            gap: 16px;
            margin-top: 60px;

            &-div1 {
                border: 1px solid var(--gray, #ABB2BF);

                &-h3 {
                    color: var(--white, #FFF);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    padding: 10px 0px 10px 10px;
                    border-bottom: 1px solid var(--gray, #ABB2BF);
                }

                &-p {
                    color: var(--gray, #ABB2BF);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding: 10px;
                }
            }

            &-div2 {
                border: 1px solid var(--gray, #ABB2BF);

                &-h3 {
                    color: var(--white, #FFF);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    padding: 10px 0px 10px 10px;
                    border-bottom: 1px solid var(--gray, #ABB2BF);
                }

                &-p {
                    color: var(--gray, #ABB2BF);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding: 10px;
                }
            }

            &-div3 {
                border: 1px solid var(--gray, #ABB2BF);

                &-h3 {
                    color: var(--white, #FFF);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    padding: 10px 0px 10px 10px;
                    border-bottom: 1px solid var(--gray, #ABB2BF);
                }

                &-p {
                    color: var(--gray, #ABB2BF);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding: 10px;
                }
            }

            &-div4 {
                border: 1px solid var(--gray, #ABB2BF);
                margin-bottom: 80px;

                &-h3 {
                    color: var(--white, #FFF);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    padding: 10px 0px 10px 10px;
                    border-bottom: 1px solid var(--gray, #ABB2BF);
                }

                &-p {
                    color: var(--gray, #ABB2BF);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1202px) {
    .HomeSkills-bottom {
        display: block;
        text-align: center;
        width: 60%;
        margin: auto;
        margin-top: 110px;
    }
}

@media only screen and (max-width: 390px) {

    .HomeSkills-bottom-right {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .HomeSkills-bottom-left-topDiv {
        gap: 20px;
    }

    .HomeSkills-bottom-left-bottomDiv-img1 {
        margin-top: none;
    }

    .HomeSkills-bottom-left-bottomDiv-img3 {
        margin-left: -400px;
    }
}