.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 120px;

    &-back__path {
        width: 89.96px;
        height: 210px;
        background: url("../../images/Home-path.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        margin-left: -100px;
        margin-top: 20px;
    }

    &-title {
        width: 586px;
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        color: var(--color-3);

        &-span {
            color: var(--color-4);
        }
    }

    &-button {
        border-radius: 24px;
        padding: 10px 32px;
        width: 136px;
        height: 47px;
        color: var(--color-3);
        background: var(--color-4);
        border: none;
        font-weight: 700;
        font-size: 18px;
        text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.6);
        margin-top: 80px;
    }

    &-back__img {
        width: 480px;
        height: 480px;
        background: url("../../images/Home-back-img.png");
        background-position: center;
        background-repeat: no-repeat;
    }

    &-img {
        position: absolute;
        padding-top: 170px;
    }
}