.homeProjects {
    margin-top: 120px;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-left {
            display: flex;
            gap: 16px;
            align-items: center;

            &-h1 {
                color: var(--white, #FFF);
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                &-span {
                    color: var(--primary, #C778DD);
                }
            }

            &-line {
                width: 500px;
                border: 1px solid var(--primary, #C778DD);
                ;
            }
        }

        &-right {

            &-a {
                color: var(--white, #FFF);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }

    &-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        padding-top: 50px;
    }
}

@media only screen and (max-width: 1383px) {
    .homeProjects-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .homeProjects-header-left-line {
        width: 300px;
    }
}

@media only screen and (max-width: 765px) {
    .homeProjects-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .homeProjects-header-left-line {
        width: 270px;
    }
}

@media only screen and (max-width: 400px) {
    .homeProjects-cards-card {
        max-width: 271px;
    }

    .projects-cards-card-images-img {
        max-width: 270px;
        height: 190px;
    }

    .projects-cards-card-bottom-buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

@media only screen and (max-width: 390px) {
    .homeProjects-header-left-line {
        width: 50px;
    }
}