.HomeContact {
    margin-top: 120px;
    margin-bottom: 150px;

    &-bottom {
        display: flex;
        justify-content: space-between;
        padding-top: 45px;

        &-backImg {
            width: 103px;
            height: 103px;
            background-image: url("../../images/Dots.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            position: absolute;
            margin-left: -280px;
        }

        &-left {

            &-p {
                width: 505px;
                color: var(--gray, #ABB2BF);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }

        &-right {
            border: 1px solid var(--gray, #ABB2BF);
            padding: 15px;

            &-p {
                color: var(--white, #FFF);
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                padding-bottom: 12px;
            }

            &-a {
                display: flex;
                gap: 10px;
                align-items: center;
                color: var(--gray, #ABB2BF);
                padding-top: 8px;
                transition: 0.3s;

                &-icon {
                    width: 25px;
                    height: 25px;
                }
            }

            &-a:hover {
                color: var(--white, #FFF);
                transition: 0.3s;
            }
        }
    }
}

@media only screen and (max-width: 1202px) {
    .HomeContact-bottom {
        display: block;
        width: 60%;
        margin: auto;
    }

    .HomeContact-bottom-right {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 390px){
    .HomeContact-bottom-left-p{
        width: auto;
    }
}