.contact {
    margin-top: 80px;
    margin-bottom: 83px;

    &-top {

        &-h1 {
            color: #FFF;
            font-family: Fira Code;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            &-span {
                color: var(--primary, #C778DD);
            }
        }

        &-p {
            color: var(--white, #FFF);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &-middle {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        &-left {

            &-p {
                width: 500px;
                color: var(--gray, #ABB2BF);
                font-family: Fira Code;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;
            }
        }
    }

    &-bottom {
        margin-top: 80px;

        &-media {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            &-a {
                color: var(--gray, #ABB2BF);
                padding-top: 27px;
                transition: 0.3s;

                &-icon {
                    width: 35px;
                    height: 35px;
                }
            }

            &-a:hover {
                color: var(--white, #FFF);
                transition: 0.3s;
            }
        }

        &-backImg {
            width: 130px;
            height: 130px;
            background-image: url("../../images/Dots.png");
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            margin-left: 670px;
            margin-top: -95px;
        }
    }
}