.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;

    .active {
        color: var(--white, #FFF);
        font-weight: 500;
    }

    &-left {

        &-a {
            display: flex;
            gap: 8px;
            align-items: center;

            &-img {
                width: 20px;
                height: 20px;
            }

            &-h2 {
                color: var(--white, #FFF);
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }

    &-right {
        display: flex;
        gap: 32px;
        align-items: center;

        &-a {
            color: var(--gray, #ABB2BF);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            transition: all 0.3s;

            &-span {
                color: var(--primary, #C778DD);
            }
        }

        &-a:hover {
            color: var(--white, #FFF);
            transition: all 0.3s;
        }
    }
}

.media {
    left: 6rem;
    position: absolute;
    top: 0;

    &-top {
        border: 0.063rem solid rgba(171, 178, 191, 1);
        height: 12.033rem;
        margin: 0 auto;
        width: 0.063rem;
    }

    &-bottom {

        &-a {
            display: block;
            color: rgba(171, 178, 191, 1);
            transition: 0.4s;

            &-icon {
                width: 25px;
                height: 25px;
                margin-top: 10px;
            }
        }

        &-a:hover {
            color: var(--white, #FFF);
            transition: 0.4s;
        }
    }
}