.AboutSkills {
    margin-top: 180px;

    &-h1 {
        color: var(--white, #FFF);
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        &-span {
            color: var(--primary, #C778DD);
        }
    }

    &-card {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        align-items: flex-start;
        padding-top: 70px;
    }
}

@media only screen and (max-width: 1015px) {
    .AboutSkills-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
    }
}

@media only screen and (max-width: 390px) {
    .AboutSkills-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        margin: auto;
    }
}