.footer {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(238, 238, 238, 0.1);
    display: flex;
    flex-direction: column;


    &-navigation {
        display: flex;
        gap: 48px;
        justify-content: center;
        align-items: center;
        padding: 80px 0 48px;


        &-link {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        &-img {
            width: 30px;
            height: 30px;
        }
    }

    &-media {
        display: flex;
        gap: 24px;
        justify-content: center;

        &-social__network {
            width: 48px;
            height: 48px;
            border-radius: 50px;
            background: var(--color-2);
            text-align: center;
        }

        &-icon {       
            width: 27px;
            height: 27px;
            color: var(--color-3);
            margin-top: 11px;
        }
    }

    &-bottom {
        text-align: end;

        &-text {
            font-weight: 400;
            font-size: 18px;
            color: var(--color-3);
            padding-bottom: 50px;
        }
    }
}