@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}

body {
  background-color: rgba(40, 44, 51, 1);
}

.container {
  width: 70%;
  margin: auto;
}

a{
  text-decoration: none;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}